* {
    background-color: #e8e8e8;
}

#banner{
    display: block;    
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#testTable{
     
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     width: 30%;
     
}

img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.tabs{
/*   display: block;*/
   width: 50%;
   margin: 0 auto;
}

form{
    display: inline-block;
    margin-left: auto;
}

input[type=submit]{
    margin-left: 60px;
    cursor: pointer;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    background-color: cadetblue;
    color: blue;
    padding: 15px 25px; 

}
input[type=submit]:focus{
    
    background-color: blue;
    border: 0;
    color: cadetblue;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 15px 25px; 

}
